/vim/vim/bundle
.netrwhist

# vim stuff
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Linux.gitignore
*~
# KDE directory preferences
.directory
core

# OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Mutt cache and aliases
/mutt/cache
/mutt/aliases

# No binary spell files
vim/vim/spell/en.utf-8.add.spl
mutt/account*
mutt/certificates
mutt/mailboxes
mutt/scripts

# Instaled via git 
zsh/custom/geometry
zsh/custom/themes/powerlevel10k
zsh/themes/powerlevel10k
zsh/custom/plugins/timewarrior/

# Ignore modules - should bget installed elsewhere
vim/vim/autoload/plug.vim
vim/vim/pack

# We ignore the alacritty os specific Files
config/alacritty/os.toml
